<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${wordValue}">Title</title>
</head>
<body>
  <form action="#" th:object="${definition}" th:action="@{/word/__${wordValue}__/definition/__${definition.uuid}__/edit}" method="post">
    <select name="antonyms" th:field="*{wordClass}">
      <option th:each="class : ${classes}"
              th:value="${class}"
              th:text="${class}">word classes</option>
    </select>
    <p th:if="${#fields.hasErrors('wordClass')}" th:errors="*{wordClass}">name Error</p>
    <p>Definition: <input type="text" th:field="*{definitionValue}" /></p>
    <p th:if="${#fields.hasErrors('definitionValue')}" th:errors="*{definitionValue}">name Error</p>
    <p>Examples: <input type="text" th:field="*{examples}" /></p>
    <p th:if="${#fields.hasErrors('examples')}" th:errors="*{examples}">name Error</p>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>

</body>
</html>