<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Word Saver</title>
</head>
<body>
  <table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
    </thead>
    <tr th:remove="all">
      <td>1</td>
      <td>504</td>
      <td><a href="#">View</a></td>
    </tr>
    <tr th:remove="all">
      <td>2</td>
      <td>Serial</td>
      <td><a href="#">View</a></td>
    </tr>
    <tr th:each="category : ${categoryList}">
      <td th:text="${category.id}">3</td>
      <td th:text="${category.categoryName}">Movies</td>
      <td><a href="#" th:href="@{'/category/'+${category.id}+'/show'}">View</a></td>
    </tr>
  </table>

</body>
</html>